@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);

html, body
  height: 100%
  margin: 0
  padding: 0
  font-family: lato, sans-serif

body
  display: flex
  flex-direction: column

#header
  flex: 0 0 50px
  background: #2da3dd

#citra-logo
  position: absolute
  background: url(images/citra-header.png)
  background-size: 100%
  width: 62.5px
  height: 25px
  margin: 12.5px

#container
  display: flex
  flex-direction: row
  flex: 1

#sidebar
  flex: 0 0 200px

  ul
    list-style: none
    margin: 0
    padding: 0
    li
      line-height: 40px
      a
        color: inherit
      a:hover
        color: #aaa
      a:link
        text-decoration: none

  ul.menu>li
    line-height: 25px
    margin: 10px 0
    padding-left: 20px
    border-bottom: 1px solid #eee
    span
      font-size: 60%
      text-transform: uppercase


#content
  background-color: #eee
  flex: 1
  overflow-y: auto
  overflow-x: hidden
  header
    background-color: #d9d9d9
    padding: 15px 20px
    font-size: 75%
    text-transform: uppercase
  section
    padding: 20px


// Buttons/forms
button
  color: #333
  background-color: #fff
  padding: 6px 12px
  text-align: center
  vertical-align: middle
  border: 1px solid #ccc
  border-radius: 4px
  &:hover, &:focus, &:active
    background-color: #e6e6e6
    border-color: #adadad
  &:focus
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;

// Login page styling
#login-page
  background-color: #eee;
  display: flex
  align-items: center
  justify-content: center
  flex: 1

#login-box
  flex: none
  background-color: white;
  width: 300px;
  padding: 25px;
  margin: 0 auto;
  box-shadow: 15px 15px #ccc;

  h1
    padding: 0
    margin: 0 0 25px
    text-transform: uppercase
    color: #666;
    border-bottom: 2px solid #ccc

  form
    .form-errors
      margin-bottom: -10px;
      padding-left: 5px;
      border-left: 2px solid #B94A48
      ul
        list-style: none
        margin: 0
        padding: 0
        li
          border-bottom: 1px solid #d9c1c1
        li:last-child
          border-bottom: none
    input[type=text], input[type=password]
      width: 100%
      padding: 5px
    input, .button-group
      display: block
      margin: 15px 0
      box-sizing: border-box
