doctype html
html(lang="en")
  head
    title citra admin
    link(rel='stylesheet', href='style.css')
  body(ng-app='citraAdmin')
    #header
      #citra-logo
      .user {{user.display_name}}
    #container
      #sidebar
        ul(class='menu')
          li
            span Main
            ul(class='submenu')
              li: a(ui-sref='dashboard') Dashboard
          li
            span Blog
            ul(class='submenu')
              li: a(ui-sref='blog.posts') Posts
          li
            span Media
            ul(class='submenu')
              li: a(ui-sref='media.screenshots') Screenshots
              li: a(ui-sref='media.videos') Videos
      #content
        header
          .title(ui-view="title")
        section(ui-view)
    include ../include/config.jade
    script(src='script.js')
